<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/pico.min.css">
    <script src="static/htmx.min.js" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="static/modal.js"></script>
    <script src="static/main.js"></script>
    <style>
      body { 
        zoom: 0.75;
        -ms-zoom: 0.75;
        -webkit-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: left top;
      }

      #current-profile-form {
        zoom: 0.7;
        -ms-zoom: 0.7;
        -webkit-zoom: 0.7;
        -moz-transform: scale(0.7);
        -moz-transform-origin: left top;
      }
    </style>
    <title>ffmpeg-clipper {{.HomeDirectory}}</title>
  </head>
  <body>
    <header class="container-fluid">
      <div hx-trigger="load" hx-get="checkffmpeg" hx-swap="none" style="display:none"></div>
      <nav>
        <ul>
          <li><strong>{{.HomeDirectory}}</strong></li>
        </ul>
        <ul>
          <li><a id="alert-icon" href="#" data-target="modal-alert" onclick="toggleModal(event)">!</a></li>
        </ul>
      </nav>
      <dialog id="modal-alert">
        <article>
          <header>
            <button
              aria-label="Close"
              rel="prev"
              data-target="modal-alert"
              onclick="toggleModal(event)"
            ></button>
          </header>
          <textarea id="alert-text" name="read-only" readonly></textarea>
        </article>
      </dialog>
    </header>
    <main class="container-fluid">
      <div class="grid">
        <div class="container">
          <div>
            <h6>Videos</h6>
            <button hx-trigger="click" hx-get="/videos.html" hx-target="#available-videos-select" hx-swap="outerHTML" style="margin-bottom:13px;">Refresh List</button>
            {{.AvailableVideosSelect}}
            <div role="group">
              <button
                hx-trigger="click"
                hx-get="/getvideoplayer.html"
                hx-target="#video-player"
                hx-swap="outerHTML"
                hx-vals='js:{path: getSelectedVideo().value}'>Play</button>
              <button
                hx-trigger="click"
                hx-post="/deletevideo.html"
                hx-target="#available-videos-select"
                hx-swap="innerHTML"
                hx-confirm="Are you sure you wish to delete the selected video?"
                hx-vals='js:{path: getSelectedVideo().value}'
                class="secondary">Delete</button>
            </div>
          </div>
          <div>
            <h6>Profiles</h6>
            <select id="profiles-select" aria-label="Profiles" multiple size="6" hx-trigger="load" hx-get="/profiles.html" hx-swap="innerHTML" style="margin-bottom:13px;"></select>
            <div role="group">
              <button
                hx-trigger="click"
                hx-post="/saveprofile.html"
                hx-target="#profiles-select"
                hx-swap="innerHTML"
                hx-confirm="Are you sure you wish to overwrite the selected profile?"
                hx-include="#current-profile-form"
                hx-vals='js:{name: getSelectedProfile().value}'>Save</button>
              <button
                hx-trigger="click"
                hx-post="/saveprofile.html"
                hx-target="#profiles-select"
                hx-swap="innerHTML"
                hx-include="#current-profile-form"
                hx-prompt="New profile name?">Save New</button>
              <button
                hx-trigger="click"
                hx-post="/deleteprofile.html"
                hx-target="#profiles-select"
                hx-swap="innerHTML"
                hx-confirm="Are you sure you wish to delete the selected profile?"
                hx-vals='js:{name: getSelectedProfile().value}'
                class="secondary">Delete</button>
            </div>
          </div>
        </div>
        <div>
          <div id="video-title"><strong></strong></div>
          <video id="video-player" style="width:100%;height:auto" controls autoplay></video>
          <div id="video-resolution"></div>
          <div>
            <button onclick="setClipStart()">Set Clip Start</button>
            <button onclick="setClipStop()">Set Clip Stop</button>
            <button onclick="closeVideo()">Close Video</button>
          </div>
        </div>
        <div>
          <form id="current-profile-form">
            <div>
              <label for="start-time">Start (hh:mm:ss)</label>
              <input id="start-time" name="start-time" type="text" value="00:00:00" />
            </div>
            <div>
              <label for="end-time">End (hh:mm:ss)</label>
              <input id="end-time" name="end-time" type="text" value="00:00:00" />
            </div>
            <div id="profile-form" hx-trigger="change from:#profiles-select" hx-get="/getprofile.html" hx-swap="innerHTML" hx-vals='js:{name: getSelectedProfile().value}' style="margin-bottom:13px;"></div>
            <button hx-trigger="click" hx-post="/clip.html" hx-vals='js:{video: getSelectedVideo().value}'>Clip</button>
          </form>
        </div>
      </div>
    </main>
    <footer class="container-fluid"></footer>
    <script>
      document.body.addEventListener('htmx:responseError', function(evt) {
        console.log(evt.detail.xhr.response);
        document.getElementById("alert-icon").style.color = "tomato";
        let alertText = document.getElementById("alert-text");
        alertText.value = alertText.value + evt.detail.xhr.response + '\n';
      });
      const socket = new WebSocket("{{.WsUri}}/active");

      // Connection opened
      socket.addEventListener("open", (event) => {
        socket.send("pong");
      });

      // Listen for messages
      socket.addEventListener("message", (event) => {
        socket.send("pong");
      });

      // Connection closed
      socket.addEventListener("close", (event) => {
        alert("Backend is no longer responding, you can close this window.");
      });

      // Connection error
      socket.addEventListener("error", (event) => {
        alert("Backend is no longer responding, you can close this window.");
      });
    </script>
  </body>
</html>